*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  color: hsl(229 6% 66%);
  line-height: 1.3;
}

h1,
h2 {
  line-height: 1;
  color: hsl(234, 12%, 34%);
}

h1 {
  font-size: 2.3rem;
  margin-top: 1rem;
}

h2 {
  font-size: 1.7rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.7rem;
  }

  p {
    font-size: 1.2rem;
  }
}

/* Block */
.block {
  padding: 5rem 2rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Icons */
.icon {
  width: 45px;
  height: 45px;
}

/* Cards */
.card {
  box-shadow: 0 0 35px 10px hsl(0 0% 96%);
  border-radius: 5px;
  overflow: hidden;
}

.card__content {
  border-top: 3px solid hsl(180, 62%, 55%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.card__header {
  margin: 0 0 2.5rem;
}

.card__icon {
  align-self: flex-end;
}
